.nini{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   font-size: 2rem;
   border: #bd6cff 2px solid;
   margin-bottom: 20px;
   padding: 10px;
   border-radius: 10px;
   background-color: aqua;
}

.saw{
   color: #0a0564;
}

p{
   color: rgb(69, 174, 235);
}

.kam{
    display: flex;
    justify-content: center;
}